@inject IStringLocalizer<NavMenu> Localizer

<div class="top-row pl-4 navbar navbar-dark h-auto">
    <a class="navbar-brand" href="">@Localizer["SiteName"]</a>
    <div class="navbar-text">
        <div class="font-weight-bold">@Localizer["Description"]</div>
        <div>See also: <a target="_blank" href="https://www.nuget.org/packages/Toolbelt.Blazor.LocalizedDataAnnotationsValidator/">https://www.nuget.org/packages/Toolbelt.Blazor.LocalizedDataAnnotationsValidator/</a></div>
    </div>
</div>
