@page "/"
@inject IStringLocalizer<Index> Localizer

<h1>Hello, world!</h1>

<p>@Localizer["Message"]</p>
<p>
    CultureInfo.CurrentUICulture.Name is: [@(System.Globalization.CultureInfo.CurrentUICulture.Name)]
</p>

<div>
    <EditForm Model="NewPerson" OnValidSubmit="OnSubmit">
        <LocalizedDataAnnotationsValidator />
        <ValidationSummary />

        <p>
            <InputText id="name" @bind-Value="NewPerson.Name" />
        </p>
        <div>
            <button class="btn btn-primary">@Localizer["Do Validation"]</button>
        </div>
    </EditForm>
</div>

@code
{
    private Person NewPerson = new Person();

    private void OnSubmit()
    {
    }
}