@page "/"
@inject IStringLocalizer<Index> Localizer

<div>
    <EditForm Model="NewPerson" OnValidSubmit="OnSubmit">
        <LocalizedDataAnnotationsValidator />

        <p>
            <label for="name">@Localizer["Name (required, up to 10 characters.)"]</label>
            <InputText id="name" @bind-Value="NewPerson.Name" />
        </p>
        <p>
            <button class="btn btn-primary">@Localizer["Do Validation"]</button>
        </p>

        <ValidationSummary />
    </EditForm>
</div>

@code
{
    private Person NewPerson = new Person();

    private void OnSubmit()
    {
    }
}